[submodule "src/htslib"]
	path = src/htslib
	url = https://github.com/samtools/htslib.git
	ignore = dirty
[submodule "src/modular-boost"]
	path = src/modular-boost
	url = https://github.com/boostorg/boost.git
	ignore = dirty
