argparse==1.2.1
Banyan==0.1.5
chardet==2.0.1
click==3.3
colorama==0.2.5
Cython==0.24
decorator==3.4.0
Flask==0.10.1
h5py==2.5.0
html5lib==0.999
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
networkx==1.9.1
numpy==1.11.0
pysam==0.8.2.1
PyVCF==0.6.7
requests==2.2.1
six==1.10.0
urllib3==1.7.1
Werkzeug==0.9.6
wheel==0.24.0
wsgiref==0.1.2
