/* 2014-2015 Markus Hsi-Yang Fritz */

body {
  font-family: 'Abel', sans-serif;
}

header {
  height: 60px;
  line-height: 60px;
  background-color: black;
  opacity: 0.85;
  color: white;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.header-title {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 40px;
}

.button-header {
  height: 60px;
  background-color: black;
  opacity: 0.85;
  font-size: 20px;
  border: none;
}

.button-header:hover {
  color: DodgerBlue;
}

.button-header:focus {
  color: white;
  outline: none;
}

footer {
  position: fixed;
  bottom: -160px;
  width: 100%;
  height: 160px;
  background: black;
  opacity: 0.85;
  color: white;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  padding-top: 47px;
  font-family: 'Nothing You Could Do', cursive;
  z-index: 100;
}

footer a {
  color: white;
}

footer a:hover {
  color: DodgerBlue !important;
}

footer a:active, footer a:focus {
  color: white;
}

#footer-icon-wrap {
  z-index: 101;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0px;
  color: #999;
}

#footer-icon {
  cursor: pointer;
}

.dropdown-menu {
  height: auto;
  max-height: 300px;
  overflow-x: hidden;
}

.modal .btn-group {
  margin: 2px;
}

#configModal .modal-body .btn {
  min-width: 200px;
  max-width: 200px;
}

#vis {
  position: relative;
}

canvas {
  position: absolute;
}

svg {
  z-index: -1;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #bbb;
  shape-rendering: crispEdges;
}

.brush {
  fill: DodgerBlue;
  fill-opacity: 0.3;
  shape-rendering: crispEdges;
}

#bloodhound .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
  width: 250px;
  margin-top: 5px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
