/* 2014-2015 Markus Hsi-Yang Fritz */

body {
  font-family: 'Abel', sans-serif;
}

header {
  height: 60px;
  line-height: 60px;
  background-color: black;
  opacity: 0.85;
  color: white;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.header-title {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 40px;
}

.button-header {
  height: 60px;
  background-color: black;
  opacity: 0.85;
  font-size: 20px;
  border: none;
}

.button-header:hover {
  color: DodgerBlue;
}

.button-header:focus {
  color: white;
  outline: none;
}

.control-btn:focus {
  outline: none;
}

.spinner {
  text-align: center;
  color: black;
  opacity: 0.85;
}

footer {
  position: fixed;
  bottom: -160px;
  width: 100%;
  height: 160px;
  background: black;
  opacity: 0.85;
  color: white;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  padding-top: 47px;
  font-family: 'Nothing You Could Do', cursive;
  z-index: 100;
}

footer a {
  color: white;
}

footer a:hover {
  color: DodgerBlue !important;
}

footer a:active, footer a:focus {
  color: white;
}

#footer-icon-wrap {
  z-index: 101;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0px;
  color: #999;
}

#footer-icon {
  cursor: pointer;
}

.dropdown-menu {
  height: auto;
  max-height: 300px;
  overflow-x: hidden;
}

#config-modal .modal-body .btn-group {
  margin-bottom: 5px;
  margin-right: 10px;
}

#config-modal .modal-body .btn {
  min-width: 100px;
  max-width: 100px;
}

#config-modal .modal-body input {
  display: inline;
  min-width: 300px;
  max-width: 300px;
  margin-right: 10px;
  text-align: center;
}

#config-modal .modal-body .alert {
  margin: 0;
}

#match-info {
  cursor: pointer;
}

.dropzone {
  width: 100px;
  height: 100px;
  border: 3px dashed #bbb;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
}

.dropzone .fa {
  display: block;
  margin-bottom: 5px;
}

.dropzone-hover {
  color: DodgerBlue;
  border-color: DodgerBlue;
}

#vis-wrap {
  text-align: center;
}

#vis-wrap > * {
  display: inline-block;
  vertical-align: middle;
}

.axis line,
.axis path {
  fill: none;
  stroke: rgb(222, 222, 222);
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.overlay {
  fill: none;
  pointer-events: all;
}

rect.last {
  opacity:0.3;
  fill:#888888;
}

rect.last.minus {
  fill:#ff0000;
}

pre {
  font-size:9px;
  /* font-family:monospace; */
}
pre span {
  padding:0px;
  background-color:rgba(255,131,0, 0.3);
}