<!DOCTYPE html>
<html lang="en">
<!--
maze: match visualizer
2014-2015 Markus Hsi-Yang Fritz
-->
<head>
  <meta charset="UTF-8">
  <title>maze</title>
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='googlefonts/stylesheet.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='maze.css') }}" rel="stylesheet">
</head>
<body>

  <header>
    <div class="container-fluid">
      <button type="button" class="pull-left button-header" data-toggle="modal" data-target="#configModal">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
      <div class="pull-left">setup</div>
      <button type="button" class="pull-right button-header" data-toggle="modal" data-target="#controlModal">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
      <div class="pull-right">tools</div>
      <div class="header-title">maze</div>
    </div>
  </header>

 <!-- Config modal -->
  <div class="modal fade" id="configModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Setup</h4>
        </div>
        <div class="modal-body">

          <div id="config-matches" class="btn-group" data-toggle="buttons">
            <label class="btn btn-default active">
              <input type="radio" name="options" id="mem" autocomplete="off" checked> MEMs
            </label>
            <label class="btn btn-default">
              <input type="radio" name="options" id="mum" autocomplete="off" title="Maximal Unique Matches"> MUMs
            </label>
          </div>match type <span class="fa fa-info-circle"></span>
          <br>

          <input id="config-length" type="number" class="form-control" value="12">minimal match length

        </div> <!-- end modal-body -->

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="visualize">Visualize!</button>
        </div> <!-- end modal-footer -->

      </div> <!-- end modal-content -->
    </div> <!-- end modal-dialog -->
  </div> <!-- end config modal -->

  <!-- Control modal -->
  <div class="modal fade" id="controlModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Tools</h4>
        </div>
        <div class="modal-body">

          ...coming soon...
        </div> <!-- end modal-body -->
      </div> <!-- end modal-content -->
    </div> <!-- end modal-dialog -->
  </div> <!-- end control modal -->

  <div class="spinner hide">
    <span class="fa fa-spinner fa-pulse fa-5x"></span>
  </div>

  <div class="container" id="vis-wrap">
    <div id="vis"></div>
  </div>

  <div id="footer-icon-wrap">
    <span class="fa fa-chevron-circle-up fa-2x" id="footer-icon"></span>
  </div>

  <footer>
    <div>maze &mdash; match visualizer</div>
    <div>part of the DELLY software <a href="https://github.com/tobiasrausch/delly" target="_blank"><span class="fa fa-github"></span></a></div>
    <div>2014-2015 Markus Hsi-Yang Fritz</div>
  </footer>

  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='d3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='maze.js') }}"></script>
</body>
</html>
