<!DOCTYPE html>
<html lang="en">
<!--
maze: match visualizer
2014-2015 Markus Hsi-Yang Fritz
-->
<head>
  <meta charset="UTF-8">
  <title>maze</title>
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='googlefonts/stylesheet.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='maze.css') }}" rel="stylesheet">
</head>
<body>

  <header>
    <div class="container-fluid">
      <div class="header-title">maze</div>
    </div>
  </header>

  <div class="spinner">
    <span class="fa fa-spinner fa-pulse fa-5x"></span>
  </div>

  <div class="container" id="vis-wrap">
    <div id="vis"></div>
  </div>

  <div id="footer-icon-wrap">
    <span class="fa fa-chevron-circle-up fa-2x" id="footer-icon"></span>
  </div>

  <footer>
    <div>maze &mdash; match visualizer</div>
    <div>part of the DELLY software <a href="https://github.com/tobiasrausch/delly" target="_blank"><span class="fa fa-github"></span></a></div>
    <div>2014-2015 Markus Hsi-Yang Fritz</div>
  </footer>

  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='d3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='maze.js') }}"></script>
</body>
</html>
