name: g++-10 CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: make
      env:
        CXX: g++-10
      run: |
        sudo apt-get update
        sudo apt-get install -y bzip2 libbz2-dev libcurl4-gnutls-dev libhts-dev libboost-date-time-dev libboost-program-options-dev libboost-system-dev libboost-filesystem-dev libboost-iostreams-dev g++-10
        export CXX=g++-10
        make
